<script src="../js/flot/jquery.flot.min.js"></script>

<div class="row">
	<div class="span9">
		
		<h3>Commons image usage on Wikimedia projects</h3>
		
<!--<div class="alert">
	<button class="close" data-dismiss="alert">×</button>
	<strong>Warning!</strong> Under development.
</div>-->
		<form class="well well-small form-inline" id='theform'>

			<formset>
				<legend style='margin-bottom:0px;'>Mode</legend>
				
				<table class='table table-condensed'>
					<tr id='tr_category'>
						<td nowrap><label><input checked type='radio' name='mode' value='category' /> Category</label></td>
						<td><fieldset id='fs_cat'><input type='text' class='span6' id='category' /></fieldset><div id='cat_tree' style='font-size:8pt;display:none'></div></td>
						<td>Depth <input type='number' id='depth' class='span1' placeholder='0' /></td>
					</tr>
					<tr id='tr_user'>
						<td nowrap><label><input type='radio' name='mode' value='user' /> User</label></td>
						<td><fieldset id='fs_user'><input type='text' class='span6' id='user' /></fieldset></td>
						<td><i>can be slow</i></td>
					</tr>
					<tr id='tr_page'>
						<td nowrap><label><input type='radio' name='mode' value='page' /> Page</label></td>
						<td><fieldset id='fs_page'><input type='text' class='span6' id='page' /></fieldset></td>
						<td><i>separate multiple pages by "|"</i></td>
					</tr>
				</table>
			</formset>

<!--			<formset>
				<legend style='margin-bottom:0px;'>Options</legend>
				<ul class='nav'>
					<li><label><input type='checkbox' id='details' /> Show details</label></li>
					<li><label><input type='checkbox' id='limdetails' /> Show limited details</label></li>
					<li><label><input type='checkbox' id='ns0only' /> Main namespace only</label></li>
				</ul>
			</formset>-->
			
			<div style='text-align:right'>
				<button id='b_run' class='btn-primary' onclick='runTool();return false'><i class='icon-play icon-white'></i> Run</button>
			</div>

		</form>
		
	</div>
	<div class="span3">
		<h3>Examples</h3>
		<div class='well well-small'>
			<ul class='nav'>
				<li><a href='#' onclick='showExample(0,"Images from AntWeb",0);return false'>AntWeb</a></li>
				<li><a href='#' onclick='showExample(0,"Media from Open Beelden",0);return false'>Open Beelden</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="row" id='result_container' style='display:none'>
	<div class="span12" id='results'>
	</div>
</div>
